body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding: 30px;
background-color: blueviolet;
}

h1{
    color: white;
}

section{
    background-color: yellow;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    margin-top: 18px;
    box-shadow: 7px black;
}
h2{
    color: rgb(0, 72, 255);
}

button{
    margin-top: 8px;
    padding: 10px;
    border: none;
    background-color: grey;
    color: black;
    border-radius: 2px;
    cursor: pointer;

}

button:hover{
    color: turquoise;
}

.caixa{
    width: 150px;
    height: 100px;
    background-color: white;
    transition: background 0.2s;

}