.profile-card{
    text-align: center;
color: yellow;
font-size: 50px;
background-color: black;
width: 100%;

}

.descripition{
    text-align: center;
    color: white;
    font-size: 50px;
    background-color: black;
    width: 100%;
    
}

body{
    margin: 15% 15% 15% 15% ;
    text-align: center;
    border: solid red 6px;
    padding: 2px;
}

.img{
    width: 100%;
}

h1{
    font-size: 50px;
}